*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logIn{
    width: min(25em,100%);
    height: min(30em,100%);
    background-color: #1c9ce7;
    border: 3px solid lightblue;
    border-radius: 2em;
    padding: 2em;
    color: white;
    text-align: center;
}

#btns{
    margin-top: 30%;
}
